In [105]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 O#DI teams in men’s cricket along with the records for matches, points and rating.
#b) Top 10 ODI Batsmen along with the records of their team and rating.
#c) Top 10 ODI bowlers along with the records of their team and rating.

In [106]:
#b) Top 10 ODI Batsmen along with the records of their team and rating.

In [107]:
import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np  # to count the values (in our case)

In [108]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [109]:
first_data=soup.find("div",attrs={"data-cricket-scope":"odi"}).find("div",class_="rankings-block__banner").get_text(strip=True,separator=" ").split(" ")

other_data=soup.find("div",attrs={"data-cricket-scope":"odi"}).find_all("tr",class_="table-body")

final_lst=[]
final_lst.append(first_data)

for i in other_data:
    split_lst=i.get_text(strip=True,separator=" ")
    final_lst.append(split_lst)

[['1', 'Babar', 'Azam', 'PAK', '873'],
 ['2', 'Virat', 'Kohli', 'IND', '844'],
 ['3', 'Rohit', 'Sharma', 'IND', '813'],
 ['4', 'Ross', 'Taylor', 'NZ', '801'],
 ['5', 'Aaron', 'Finch', 'AUS', '779'],
 ['6', 'Jonny', 'Bairstow', 'ENG', '775'],
 ['7', 'David', 'Warner', 'AUS', '762'],
 ['8', 'Shai', 'Hope', 'WI', '758'],
 ['9', 'Kane', 'Williamson', 'NZ', '754'],
 ['10', 'Quinton', 'de', 'Kock', 'SA', '747']]

In [110]:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and ratin

In [111]:
 import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np  # to count the values (in our case)

In [112]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi/'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [113]:
# get the entire table
table = soup.find('table', {'class': 'table'})

# create dictionary to hold results
rankings = {}
# separate first row since it uses different markup than the rest
position = table.find('td', {'class': 'rankings-block__banner--pos'}).text.strip()
country_name = table.find('span', {'class': 'u-hide-phablet'}).text.strip()
matches = table.find('td', {'class': 'rankings-block__banner--matches'}).text.strip()
points = table.find('td', {'class': 'rankings-block__banner--points'}).text.strip()
rating = table.find('td', {'class': 'rankings-block__banner--rating u-text-right'}).text.strip()
rankings[country_name] = {'position': position,
                          'matches': matches,
                          'points': points,
                          'rating': rating}


# for the next rows, use a loop
for row in table.find_all('tr', {'class': 'table-body'}):
    position = row.find('td', {'class': 'table-body__cell table-body__cell--position u-text-right'}).text.strip()
    country_name = row.find('span', {'class': 'u-hide-phablet'}).text.strip()
    matches = row.find_all('td', {'class': 'table-body__cell u-center-text'})[0].text.strip()
    points = row.find_all('td', {'class': 'table-body__cell u-center-text'})[1].text.strip()
    rating = row.find('td', {'class': 'table-body__cell u-text-right rating'}).text.strip()
    rankings[country_name] = {'position': position,
                          'matches': matches,
                          'points': points,
                          'rating': rating}
rankings

{'New Zealand': {'position': '1',
  'matches': '12',
  'points': '1,505',
  'rating': '125'},
 'England': {'position': '2',
  'matches': '19',
  'points': '2,353',
  'rating': '124'},
 'Australia': {'position': '3',
  'matches': '18',
  'points': '1,929',
  'rating': '107'},
 'India': {'position': '4',
  'matches': '22',
  'points': '2,304',
  'rating': '105'},
 'Pakistan': {'position': '5',
  'matches': '16',
  'points': '1,635',
  'rating': '102'},
 'South Africa': {'position': '6',
  'matches': '19',
  'points': '1,872',
  'rating': '99'},
 'Bangladesh': {'position': '7',
  'matches': '24',
  'points': '2,275',
  'rating': '95'},
 'Sri Lanka': {'position': '8',
  'matches': '24',
  'points': '2,086',
  'rating': '87'},
 'West Indies': {'position': '9',
  'matches': '26',
  'points': '1,885',
  'rating': '73'},
 'Afghanistan': {'position': '10',
  'matches': '15',
  'points': '986',
  'rating': '66'},
 'Ireland': {'position': '11',
  'matches': '20',
  'points': '1,083',
  'rating': '54'},
 'Scotland': {'position': '12',
  'matches': '14',
  'points': '698',
  'rating': '50'},
 'UAE': {'position': '13', 'matches': '15', 'points': '582', 'rating': '39'},
 'Netherlands': {'position': '14',
  'matches': '12',
  'points': '459',
  'rating': '38'},
 'Zimbabwe': {'position': '15',
  'matches': '14',
  'points': '488',
  'rating': '35'},
 'Oman': {'position': '16', 'matches': '26', 'points': '835', 'rating': '32'},
 'Namibia': {'position': '17',
  'matches': '11',
  'points': '246',
  'rating': '22'},
 'United States': {'position': '18',
  'matches': '12',
  'points': '232',
  'rating': '19'},
 'Nepal': {'position': '19', 'matches': '14', 'points': '232', 'rating': '17'},
 'Papua New Guinea': {'position': '20',
  'matches': '22',
  'points': '134',
  'rating': '6'}}

In [114]:
pd.DataFrame(rankings)

,New Zealand,England,Australia,India,Pakistan,South Africa,Bangladesh,Sri Lanka,West Indies,Afghanistan,Ireland,Scotland,UAE,Netherlands,Zimbabwe,Oman,Namibia,United States,Nepal,Papua New Guinea
position,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
matches,12,19,18,22,16,19,24,24,26,15,20,14,15,12,14,26,11,12,14,22
points,"1,505","2,353","1,929","2,304","1,635","1,872","2,275","2,086","1,885",986,"1,083",698,582,459,488,835,246,232,232,134
rating,125,124,107,105,102,99,95,87,73,66,54,50,39,38,35,32,22,19,17,6

In [115]:
#c) Top 10 ODI bowlers along with the records of their team and rating.

In [116]:
import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np  # to count the values (in our case)

In [117]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling/'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [118]:
first_data=soup.find("div",attrs={"data-cricket-scope":"odi"}).find("div",class_="rankings-block__banner")

other_data=soup.find("div",attrs={"data-cricket-scope":"odi"}).find_all("tr",class_="table-body")

final_lst=[]
final_lst.append(first_data)

for i in other_data:
    split_lst=i.get_text(strip=True,separator=" ")
    final_lst.append(split_lst)